<div class="feed">
    
  <div class="content">
      <div class="text">
          <button class="newpledge" id="newpledgebtn">
              <b>＋</b> Create New Pledge</button>
          <span class="filter">
              <input type="checkbox" class="showfunded" name="showfunded">
              Show funded Pledges
          </span>
      </div>
  </div>

  <div class="content">
      <div class="text">
          Test1
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
      </div>
  </div>

  <div class="content">
      <div class="text">
          Test2
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
      </div>
  </div>

  <div class="content">
      <div class="text">
          Test3
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
      </div>
  </div>

  <div class="content">
      <div class="text">
          Test4
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
      </div>
  </div>

  <div class="content">
      <div class="text">
          Test5
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
      </div>
  </div>

</div>