<div class="feed">
    
  <div class="content">
      <div class="text">
          <button class="newpledge" id="newpledgebtn">
              <b>＋</b> Create New Pledge</button>
          <span class="filter">
              <input type="checkbox" class="showfunded" name="showfunded">
              Show funded Pledges
          </span>
      </div>
  </div>

  <div class="content" onclick="" style="cursor: pointer;" onmouseover="">
      <div class="text" style="padding-top:5px;">
          <div class="titlebox" style="">
              <span class="pledgetitle"><h3 id="pledgetitle" style="display:inline-block;">Pledge Name</h3>
                  <span style="font-size:14px;margin-left:10px;"><span id="creator">user</span></span></span>
              <span style="display:flex;justify-content:center;align-items:center;margin-top:5px;">
                  <div id="notif" class="timeremaining" style="font-size:13px;">&#128197; <b><span id="daysremaining">10</span></b> days remaining</div>
              </span>
          </div>
          <div class="progressbar" style="border-radius:5px;height:15px;display:flex;width:100%;margin: 0 auto;">
              <div id="progressbar" class="progress"
                    style="border-radius:5px;height:15px;font-size:13px;display:block;width:50%;" >
              </div>
          </div>
          <div style="font-size:10px;text-align:center;">£0/1000</div>
      </div>
  </div>

  <div class="content">
      <div class="text">
          Test2
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
      </div>
  </div>

  <div class="content">
      <div class="text">
          Test3
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
      </div>
  </div>

  <div class="content">
      <div class="text">
          Test4
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
      </div>
  </div>

  <div class="content">
      <div class="text">
          Test5
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
      </div>
  </div>

</div>