<div class="feed">
    <div class="content">
        <div class="text">
            <form id="login" class="form">
                <h1>Login to Pledge</h1>
                <p>
                    <input type="text" name="username" placeholder="Username">
                </p>
                <p>
                    <input type="password" name="password" placeholder="Password">
                </p>
                <span id="error"><div id="errmsg">Error message</div></span>
                <p>
                    <button type="submit">Login</button>
                </p>
                <label>Not yet registered? Click <a href="/#register">here</a>.</label>
            </form>
        
      </div>
    </div>
</div>