<div class="feed">
    <div class="content">
        <div class="text">
            <form id="register" class="form">
                <h1>Register an account</h1>
                <p>
                    <input type="text" name="email" placeholder="E-mail address">
                </p>
                <input type="text" name="username" placeholder="Username">
                <p>
                    <input type="password" name="password" id="password" placeholder="Password">
                    <input type="password" name="passwordconf" id="passwordconf" placeholder="Confirm Password">
                </p>
                <span id="error"><div id="errmsg">Error message</div></span>
                <p>
                    <button type="submit">Register</button>
                </p>
                <label>Already have an account? Click <a href="/#login">here</a>.</label>
            </form>
        
      </div>
    </div>
</div>