<div class="feed">
    <div class="content">
        <div class="text">
            <form name="register" class="loginregister">
                <h1>Register an account</h1>
                <p>
                    <input type="text" name="email" placeholder="E-mail address">
                </p>
                <input type="text" name="username" placeholder="Username">
                <p>
                    <input type="password" name="password" placeholder="Password">
                    <input type="passwordconf" name="passwordconf" placeholder="Confirm Password">
                </p>
                <span class="error">Error message</span>
                <p>
                    <button type="submit">Register</button>
                </p>
                <label>Already have an account? Click <a href="/#login">here</a>.</label>
            </form>
        
      </div>
    </div>
</div>